.mkb-single {
  .content {
    padding-bottom: 0;
  }
}

.post-type-kb {
  .article-header-image {
    @include gc-add-rotated();
    margin: -3rem -2rem 3rem -2rem;

    @include bp-up(lg) {
      margin-top: -7rem;
      margin-left: -3rem;
      margin-right: -3rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .article-content {
    @include ho-make-container($max-width-inner);
  }
}

.blog-author {
  color: $meta-data;
  font-size: $font-smaller;
}

.mkb-article-header {
  border-top: .1rem solid $border-color;
  margin-top: 3rem;
  padding-top: 3rem;
}

.mkb-anchors-list__title {
  font-family: $font-primary-bold;
}

.mkb-anchors-list__container {
  @include gc-fancy-list();
  margin-top: 2rem;
}

.mkb-anchor {
  display: flex;
}

.section--heading {
  // nee liever geen lijntjes over titles
  // hierdoor breekt te de tekst op in aparte blokken en gaat
  // m.i. de samenhang verloren
  //  border-top: .2rem solid $border-color;
  //  padding-top: 2rem;
}

.mkb-back-to-top {
  font-size: $font-small;
  margin-left: auto;
  margin-top: .5rem;

  .fa {
    color: $gc-icon-color;
    display: inline-block;
    margin-left: 1.5rem;
  }
}

.mkb-article-extra {
  // in dit block staat irrelevant meuk over of het artikel nuttig was of niet.
  // dit moet duidelijk los staan van de hoofdinhoud
  // vandaar de aparte uitlijning, kleiner corps en padding & margins
  border-top: .2rem solid $border-color;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  clear: both;
  float: none;
  font-size: 80%;
  text-align: right;
}
// deze wereld gaat ten onder aan vind-ik-leuk
// maar goed
.mkb-article-extra__like,
.mkb-article-extra__dislike {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: .75rem;
  margin: .5rem;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus{
    background-color: white;
    text-decoration: underline;
    .mkb-article-extra__stats-dislikes,
    .mkb-article-extra__stats-likes {
      border-color: black;
      text-decoration: none;
    }

  }
}
.mkb-article-extra__stats-dislikes,
.mkb-article-extra__stats-likes {
  border: 1px solid white;
  background: white;
  color: black;
  padding: .25rem .5rem;
  border-radius: 50%;
  margin-left: .5rem;
}
.mkb-article-extra__like {
  background-color: $gc-a11y-green;
  border-color: $gc-a11y-green;
}
.mkb-article-extra__dislike {
  background-color: $gc-pink-darker;
  border-color: $gc-pink-darker;
}

// De inhoudsopgave mag wel iets minder prominent op desktop-schermen
.mkb-anchors-list {
  @include bp-up(md) {
    border-left: 2px solid $border-color;
    float: right;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-bottom: .25rem;
    width: 30%;
  }
}

.comment-box {
  @include negate-padding;
  @include ho-padding;
  @include gc-bg-rotated();

  &:before {
    z-index: -1;
  }

  > div {
    @include ho-make-container($max-width-inner);
    position: relative;
  }

  .comments {
    border-top: .2rem solid $border-color;
    margin-top: 3rem;
    padding-top: 3rem;

    h3 {
      @include gc-section-heading;
    }
  }
}



.comment-form {
  display: block;
  margin-top: 3rem;

  label {
    margin-bottom: 1.5rem;
    display: block;
  }

  .comment-form {
    margin-top: 1.5rem;
  }
}


 button[type='reset'] + p {
   font-size: $font-small;
   color: $meta-data;
   border-top: .1rem solid $border-color;
   margin-top: 2rem;
   padding-top: 1rem;

   @include bp-up(md) {
     margin-top: 5rem;
   }
}
