@import "../assets/fonts/fonts.css";

@import "abstracts/mixins";
@import "abstracts/extendables";
@import "abstracts/icons";


@import "base/base";
@import "base/fontstyles";
@import "base/forms";

@import "base/gutenberg-styling";


@import "layout/footer";
@import "layout/header";
@import "layout/grid";

/*Pages & pagetypes*/

@import "layout/page";
@import "layout/page-overview";

/* Entry types */
@import "components/post";
@import "components/post-tipkaart";
//@import "components/single-event";
/* Entry types */
@import "components/single";
@import "components/single-event";
@import "components/single-tipkaart";


/* Sections */
@import "components/section";
@import "components/section-spotlight";
@import "components/section-text-block";
@import "components/section-images";
@import "components/text-image";

/* Components */
@import "components/author";
@import "components/btn";
@import "components/card";
@import "components/card-tipkaart";
@import "components/date-badge";
@import "components/download-box";
@import "components/link";
@import "components/meta-data";
@import "components/social";
@import "components/teaser";
@import "components/list";
@import "components/overview";
@import "components/video";


/* Sites with stepchart */
@import "components/stepchart";
@import "components/step";
@import "components/stepnav";
