/*
 * Editor styles voor GC-theme
 * Author: Tamara, Mark, Paul
 * Version: 5.0.2.d
 *
*/

// stijltjes voor de admin
@import "abstracts/variables";


//@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extendables";
@import "abstracts/icons";


@import "base/base-editor-styles";
@import "base/fontstyles";
//@import "base/forms";


@import "layout/footer";
@import "layout/header";
@import "layout/grid";


//@import "layout/footer";
//@import "layout/header";
@import "layout/grid";

/*Pages & pagetypes*/

@import "layout/page";
@import "layout/page-overview";

/* Entry types */
@import "components/post";
@import "components/post-tipkaart";
//@import "components/single-event";

/* Sections */
@import "components/section";
@import "components/section-spotlight";
@import "components/section-text-block";
@import "components/section-images";
@import "components/text-image";

/* Components */
@import "components/author";
@import "components/btn";
@import "components/card";
@import "components/card-tipkaart";
@import "components/date-badge";
@import "components/download-box";
@import "components/link";
@import "components/meta-data";
@import "components/social";
@import "components/teaser";
@import "components/list";
@import "components/overview";
@import "components/video";


/* Sites with stepchart */
@import "components/stepchart";
@import "components/step";
@import "components/stepnav";

#editor section {
	margin-top: 0;
	border: 5px solid red;
}

.wp-block.editor-post-title__block textarea {
  font-family: $base-heading-font;
  font-size: 2rem;
}

.wp-block .section__title {
  font-size: 2.5rem;
}

[data-type="core/paragraph"] {
  border: 1px solid red;
}
