# ignore node dependency directories
/frontend/node_modules

# ignore composer generated vendor directory
/vendor

#dont commit .map sites
/assets/css/*.map
.DS_Store

/.idea/

/bin/deploy/
/bin/deploy/*

.idea/workspace.xml
yarn.lock
