.form-submit {
  &:hover {
    transition: all .15s linear;
  }
}
button {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-font-size;
}
$input-size: 20px;

input:not([type='submit']):not([type='checkbox']):not([type='radio']),
select, textarea {
  box-sizing: border-box;
  background: $input-bg;
  padding: 1rem 1.5rem;
  font-family: $font-primary;
  font-size: $base-font-size;
  width: 100%;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border: .2rem solid $input-border;
  outline: none;
  -webkit-appearance: none;
  color: #000;
  border-radius: 0;

  &:focus {
    @include gc-box-shadow($gc-green, 0.2);
    border-color: $input-focus;
    background: $input-focus-bg;
  }
}

form label {
  font-family: $font-primary-semi;
}

select {
  background: $input-bg url('../images/select-arrow.svg') right 15px top 50% no-repeat;
  border-radius: 0;
  line-height: initial;
  background-size: 14px auto;
  cursor: pointer;

  &[multiple] {
    min-height: 180px;
    background: none;
  }
}


input[type='submit']{
  @include gc-box-shadow();
  background: $submit-bg;
  border: none;
  padding: 0 2rem;
  line-height: 40px;
  height: 50px;
  color: $submit-color;
  display: inline-block;
  font-family: $button-font;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: $btn-font-size-sm;
  margin-top: 3rem;

  @include bp-up(md){
    font-size: $btn-font-size-lg;
  }

  &:hover {
    background-color: $submit-hover-bg;
  }
}

.form-item--checkbox {
  position: relative;

  input {
    @include visually-hidden;
  }

  label {
    @include icon(after, check);
    display: flex;

    &:before {
      content: " ";
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border: .2rem solid $border_color;
      margin-right: 1.5rem;
      transition: border-color .2s;
      margin-top: .3rem;
    }

    &:after {
      position: absolute;
      left: 1.6rem;
      top: .8rem;
      font-size: 1.4rem;
      display: none;
      color: $gc-dark-blue;
    }

    &:hover, &:focus {
      text-decoration: underline;

      &:before {
        border-color: $gc-dark-blue;
      }
    }
  }

  input:checked + label {
    &:before {
      border-color: $gc_green;
      box-shadow: .3rem .3rem 0 rgba($gc_green, 0.3);
      background: $white url('../images/ico-check.svg') center center no-repeat;
      background-size: 1.2rem auto;
    }

    &:after {
      display: block;
    }
  }
}