@font-face {
  font-family: "icons";
  src: url('/theme/fonts/iconfont/<%= fontName %>.eot');
  src: url('/theme/fonts/iconfont/<%= fontName %>.eot?#iefix') format('eot'),
  url('/theme/fonts/iconfont/<%= fontName %>.woff') format('woff'),
  url('/theme/fonts/iconfont/<%= fontName %>.ttf') format('truetype'),
  url('/theme/fonts/iconfont/<%= fontName %>.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icons: (
<% _.each(glyphs, function(glyph) { %> <%= glyph.name %>: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>",
<% }); %>
);

// Use to apply icons
@mixin icon($position: before, $icon: false, $styles: true) {
  @if $position == both {
    $position: 'before, &:after';
  }
  &:#{$position} {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-family: 'icons';
    }
    @content;
  }
}
