/*
 * General
 */

$od-orange:          #BA4F0C;
$od-orange-darker:   #983A00;


$brand-color:     $od-orange;

$color-primary:             $brand-color;
$color-secondary:           $gc-a11y-green;


// Intro BG
$intro-bg: $gc-a11y-green;
