
.grid {

  > div,
  > section {
    margin-top: $gutter;

    &.card--type-doelgroep {
      margin-top: 5rem;
    }
  }

  @include bp-up(sm) {
    display: flex;
    flex-wrap: wrap;
  }

  &--col-3 {
    @include bp-up(sm) {
      > div,
      > section {
        width: calc(50% - #{$gutter});

        &:first-child {
          width: 100%;
        }

        &:nth-child(2) {
          margin-right: $gutter;
        }
      }
    }

    @include bp-up(lg) {
      > div,
      > section {
        width: calc(33.3333% - #{$gutter});
        margin-left: $gutter / 2;
        margin-right: $gutter /2;

        &:first-child,
        &:nth-child(2) {
          width: calc(33.3333% - #{$gutter});
          margin-left: $gutter / 2;
          margin-right: $gutter /2;
        }
      }
    }
  }

  &--col-4 {
    @include bp-up(sm) {
      > div,
      > section {
        width: calc(50% - #{$gutter});
        margin-left: $gutter / 2;
        margin-right: $gutter /2;
      }
    }

    @include bp-up(lg) {
      > div,
      > section {
        width: calc(25% - #{$gutter});
      }
    }
  }

  &--col-2 {
    @include bp-up(sm) {

      > div,
      > section {
        width: calc(50% - #{$gutter});
        margin-left: ($gutter / 2);
        margin-right: ($gutter / 2);
      }
    }
  }
}


