// BTN Variables
// Can be used for buttons and overridden in subthemes
//

// Primary buttons

$btn-primary-bg:                $gc-a11y-green !default;
$btn-primary-hover-bg:          $gc-a11y-green-darker !default;
$btn-primary-color:             $white !default;
$btn-primary-hovercolor:        $white !default;

$btn-primary-arrowbg:           $gc-a11y-green-darker !default;
$btn-primary-hover-arrowbg:     $gc-a11y-green-dark !default;

// Secondary buttons

$btn-secondary-bg:                $color-secondary !default;
$btn-secondary-hover-bg:          darken($color-secondary, 10%) !default;
$btn-secondary-color:             $white !default;
$btn-secondary-hovercolor:        $white !default;

$btn-secondary-arrowbg:           darken($color-secondary, 10%) !default;
$btn-secondary-hover-arrowbg:     darken($color-secondary, 20%) !default;

// Sizes:

$btn-font-size-sm:                 2.2rem;
$btn-font-size-lg:                 2.6rem;
