
// Gutenberg color options
// see editor-color-palette in functions.php
// ---------------------------------------------
$gc_gutenberg_colors:
                ( white, $white ),
                ( black, $black ),
                ( gc_a11y-blue, $gc_a11y-blue ),
                ( gc_blue, $gc_blue ),
                ( gc_pantybrown_xlight, $gc_pantybrown_xlight ),
                ( gc_pantybrown, $gc_pantybrown ),
                ( gc-blue, $gc-blue ),
                ( gc-cyan, $gc-cyan ),
                ( gc-cyan, $gc-cyan ),
                ( gc-dark-blue, $gc-dark-blue ),
                ( gc-dark-purple, $gc-dark-purple ),
                ( gc-green, $gc-green ),
                ( gc-orange, $gc-orange ),
                ( gc-pantybrown, $gc-pantybrown ),
                ( gc-pink, $gc-pink ),
                ( inc_a11y_orange, $inc_a11y_orange ),
                ( inc_orange, $inc_orange ),
                ( nlds_purplish, $nlds_purplish ),
                ( od-orange-darker, $od-orange-darker ),
                ( od-orange, $od-orange );


// Color Options
// ---------------------------------------------
@each $name, $color in $gc_gutenberg_colors {

  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}

