// Gutenberg color options
// see editor-color-palette in functions.php
// v5.0.9
// ---------------------------------------------
$gc_gutenberg_colors: (gc-white, $white),
  (gc-black, $black),
  (gc-green, $gc-green),
  (gc-dark-blue, $gc-dark-blue),
  (gc-pantybrown, $gc-pantybrown),
  (gc-dark-purple, $gc-dark-purple),
  (gc-blue, $gc-blue),
  (gc-pink, $gc-pink),
  (gc-orange, $gc-orange),
  (gc-cyan, $gc-cyan),
  (inc-orange, $inc-orange),
  (inc-a11y-orange, $inc_a11y_orange),
  (nlds-purplish, $nlds_purplish),
  (gc-blue, $gc_blue),
  (gc-accessible-blue, $gc_a11y-blue),
  (gc-accessible-green, $gc-a11y-green),
  (od-orange, $od-orange),
  (od-orange-darker, $od-orange-darker),
  (gc-pantybrown-xlight, $gc_pantybrown_xlight);

// Set color options
// ---------------------------------------------
@each $name, $color in $gc_gutenberg_colors {

  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}

