


// Chart
$stepchart_label:                       $gc_a11y_green !default;
$stepchart_label_color:                 $white !default;

$stepchart_icon_bg:                     $gc_orange !default;
$stepchart_icon_bg_hover:               $white !default;

$stepchart_icon_color:                  $white !default;
$stepchart_icon_color_desktop:          $white !default;
$stepchart_icon_color_desktop_hover:    $gc-dark-blue !default;


// Nav
$stepnav_icon_bg:                       $gc_orange !default;
$stepnav_icon_color:                    $white !default;

$stepnav_icon_active_bg:                $gc_orange !default;
$stepnav_icon_active_color:             $white !default;

$stepnav_bg_arrow_color:                rgba($white, 0.6) !default;
$stepnav_line_color:                    rgba($white, 0.6) !default;


// Steplist

$steplist_circle_bg:              $gc_pink !default;
$steplist_color:                  $white !default;