

$date-badge-bg:       $color-secondary !default;
$date-badge-color:    $white !default;

$date-badge-till-bg:  $gc-dark-purple-darker !default;

$meta-data:           $gc-greyblue;
$meta-data-icon:      $gc-green !default;

// Homepage
$hp-intro-bg:        $brand-a11y-color !default;
$hp-intro-color:     $white !default;

// Stepcircle

$steplist_circle_bg:    $color-primary !default;
$steplist_color:        $white !default;