
// Author

.author {
  .author__contact-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .link--contact {
    margin: 1rem 1rem 0 0;

    @include bp-up(md) {
      + .social-links {
        margin-left: 1rem;
      }
    }
  }

  .social-links {
    margin: 1rem 0 0;
    padding: 0;
    display: flex;

    @include bp-up(md) {
      margin-top: 0;
    }
  }

  .social-links__item {
    margin: 1rem 1rem 0 0;
  }

  p {
    margin: 2rem 0 0;
  }


  &.l-with-image {
    display: flex;
    align-items: flex-start;

    .author__picture,
    .author__image {
      width: 8rem;
    }

    .author__content {
      width: calc(100% - 14rem);
      padding-left: $gutter;
    }

    @include bp-up(lg) {
      .author__picture,
      .author__image {
        width: 14rem;
      }

      .author__content {
        width: calc(100% - 14rem);
      }
    }
  }
}

.author__picture,
.author__image {
  background: $white;

  img {
    @include gc-box-shadow();
    width: 100%;
    height: auto;
    display: block;
  }
}

.author--box {
  @include gc-box-shadow;
  background: $gc_pantybrown_xlight;
  position: relative;
  padding: 3rem 2rem 2rem;
  display: block;
  font-size: $font-smaller;
  line-height: 2.6rem;
  margin-top: 5rem;

  @include bp-up(md) {
    margin-top: 8rem;
  }

  &:before {
    content: " ";
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: block;
    background: $gc_pantybrown_xlight;
    top: 0;
    left: 6rem;
    margin-top: -1.5rem;
    transform: rotate(45deg);
  }

  .author__content {
    width: 100%;
    padding: 0;
  }

  h2,
  .author__title {
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
  }

  .meta-data__item {
    color: $meta-data;
    font-size: $font_small;
  }

  hr {
    border-color: $gc_pantybrown-light;
    margin: 1.5rem 0;
  }

  .author__contact-info {
    font-size: $font_small;
    margin-top: 2rem;
  }

  p {
    margin: 0;
  }

  @include bp-up(md) {
    padding: 3rem;
  }
}

// Small, displayed with tips

.author--small {
  position: relative;
  margin-top: 2rem;

  img {
    @include gc-box-shadow();
    width: 7.5rem;
    float: left;
    margin-right: 2.5rem;
  }

  .author__name {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  span {
    color: $meta-data;
    font-size: $font-small;
    display: block;
    margin-top: .3rem;
  }

  .link {
    display: block;
    margin-top: .5rem;

    &:before {
      color: $gc-a11y-green;
    }
  }
}