.section--spotlight.section--bg-option {
  padding-bottom: 8rem;

  @include bp-up(lg){
    padding-bottom: 14rem;
  }

  &:before {
    background: url('../images/b_section-bg-option.svg') 0 100% no-repeat;
    background-size: auto 500px;
    transform: rotate(0deg);
    margin: 0;

    @include bp-up(sm){
      background-size: auto 100%;
    }

    @include bp-up(lg){
      background-position: 0 0;
      background-size: 120% auto;
      top: 10rem;
    }

    @include bp-up(xlg){
      background-size: 140% auto;
      top: 10rem;
    }
  }

  &:after {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10rem;
    margin-bottom: -.1rem;
    background: url('../images/b_section-bg-option-after.svg') left bottom -1rem repeat-x;
    background-size: 80% auto;

    @include bp-up(lg){
      height: 16rem;
    }
  }
}

