
.grid {

  > div,
  > section {
    margin-top: $gutter;

    &.card--type-doelgroep {
      margin-top: 5rem;
    }
  }

  @include bp-up(sm) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
  }

  &--col-3 {
    @include bp-up(sm) {
      > div,
      > section {
        width: calc(50% - #{$gutter});
        margin-left: $gutter / 2;
        margin-right: $gutter /2;

        &:first-child {
          width: 100%;
        }
      }
    }

    @include bp-up(md) {
      > div,
      > section {
        width: calc(33.333% - #{$gutter});

        &:first-child {
          width: calc(33.333% - #{$gutter});
        }
      }
    }
  }

  &--col-4 {
    @include bp-up(sm) {
      > div,
      > section {
        width: calc(50% - #{$gutter});
        margin-left: $gutter / 2;
        margin-right: $gutter /2;
      }
    }

    @include bp-up(md) {
      > div,
      > section {
        width: calc(33.333% - #{$gutter});
      }
    }

    @include bp-up(lg) {
      > div,
      > section {
        width: calc(25% - #{$gutter});
      }
    }
  }

  &--col-2 {
    @include bp-up(sm) {
      > div,
      > section {
        width: calc(50% - #{$gutter});
        margin-left: ($gutter / 2);
        margin-right: ($gutter / 2);
      }
    }
  }

  &--gutter-wide {
    > div,
    > section {
      @include bp-up(md) {
        padding-left: 3%;
        padding-right: 3%;
      }
    }
  }
}


