
.archive,
.page--overview-archive {
  @include gc-page-intro();
  max-width: none;

  .page__intro {
    @include ho-make-container($max-width-inner);
  }

  .page__intro .entry-body,
  .archive__descr {
    padding: 3rem;
    margin-top: 0;

    @include bp-up(md) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  .author--full {
    @include gc-box-shadow();
  }


  .content {
    box-shadow: none;
    background: none;
    max-width: none;
    padding: 0;
  }

  .entry {
    max-width: none;
  }

  .section--overview.section--4col .l-section-content {
    max-width: $max-width-container;
  }

  .entry-body {
    padding-left: 2rem;
    padding-right: 2rem;

    > .section--paragraph:first-child {
      margin-top: 0;
    }
  }

  > p {
    margin: 2rem auto 0;

    &:first-child {
      padding-top: 5rem;
    }

    &:last-child {
      padding-bottom: 5rem;
    }
  }

  .entry-content + .grid {
    margin-top: 5rem;
    padding-bottom: 5rem;

    @include bp-up(md) {
      margin-top: 7rem;
    }

    @include bp-up(lg) {
      padding-bottom: 7rem;
    }
  }

  .grid {
    @include ho-make-container($max-width-container);
  }
}

.page-template-template-events-overview {
  .page__intro {
    @include ho-make-container($max-width-inner);
  }
}


// Events

.tax-tipthema {
  .page__intro {
    max-width: $max-width-content;
  }
}

.entry--type-overview {
  .entry-content {
    padding: 0;
  }
}

// Archive posts

.archive__posts {
  @include negate-padding;
  padding-bottom: 5rem;
  margin-top: 3rem;

  @include bp-up(md) {
    padding-bottom: 8rem;
  }

  @include bp-up(lg) {
    padding-bottom: 12rem;
    margin-top: 5rem;
  }

  &:before {
    margin-left: -2rem;
    margin-right: -2rem;

    @include bp-up(md) {
      margin-left: -3rem;
      margin-right: -3rem;
    }
  }

  .grid {
    padding-left: 2rem;
    padding-right: 2rem;
    @include ho-make-container($max-width-container);
  }

  .section__title {
    text-align: center;
    border: none;
  }
}

.overview__item-wrapper {
  .teaser {
    margin-top: 2rem;

    + .teaser {
      margin-top: 0;
      border-top: .1rem solid $border-color;
    }
  }

  + h3 {
    margin-top: 5rem;
  }
}


/*
 * Filters
 */

.form--filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $max-width-content;
  margin: 3rem auto 0;

  @include bp-up(md) {
    margin-top: 5rem;
  }
}

.form-item--filter {
  margin: 1.4rem .7rem 0;

  label {
    border: .2rem solid $gc_pantybrown;
    padding: .7rem 1.8rem .5rem 1rem;
    transition: background .2s, border-color .2s;

    &:before {
      border-color: $gc-dark-blue;
      border-width: .1rem;
    }
  }

  // Optimaal Digitaal Kleurtjes
  &.is-active {
    input + label {
      color: $white;

      &:before {
        border-color: $white;
      }
    }

    label[for='commitment'] {
      background: $gc_a11y_green;
      border-color: $gc_green;
    }

    label[for='gebruiksgemak'] {
      background: $gc_dark_purple;
      border-color: $gc_dark_purple_darker;
    }

    label[for='informatieveiligheid'] {
      background: $gc_pink;
      border-color: $gc_pink_darker;
    }

    label[for='kanaalsturing'] {
      background: $gc_orange;
      border-color: $gc_a11y_orange_lg;
      color: $gc_dark-blue;
    }

    label[for='procesaanpak'] {
      background: $gc_a11y_cyan_lg;
      border-color: $gc_cyan;
    }

    label[for='inclusie'] {
      background: $inc_a11y_orange;
      border-color: $inc_orange;
    }

    label[for='samenwerking'] {
      background: $gc_a11y_blue;
      border-color: $gc_blue;
    }
  }
}

.page-template-template-alle-tips {

  .grid {
    padding-bottom: 5rem;

    @include bp-up(lg) {
      padding-bottom: 7rem;
    }
  }
}

// Search results

.search {
  .content-wrapper,
  .content header {
    @include ho-make-container($max-width-inner);
  }

  .overview--list {
    margin-top: 3rem;

    @include bp-up(md){
      margin-top: 5rem;
    }
  }
}
