.page {
  &--type-overview {
    .content {
      padding: 0;
      background: none;
    }

    .entry-content,
    .content {
      max-width: none;
    }

    .page-content {
      background: $gc-pantybrown-light;
    }

    .section--spotlight {
      margin: 5rem -2rem -3rem;

      @include bp-up(md){
        margin-left: -3rem;
        margin-right: -3rem;
        margin-bottom: -8rem;
      }
    }

    .grid {
      max-width: calc(#{$max-width-container} + #{$gutter});
      margin: $gutter auto 0;

      @include bp-up(md){
        margin-top: 8rem;
      }
    }
  }


  &--overview-archive {
    .entry--type-overview {
      .page__intro {
        @include ho-container-content;
        position: relative;
        z-index: 10;
      }

      .entry-body {
        padding-bottom: 3rem;

        @include bp-up(lg) {
          padding-left: 5rem;
          padding-right: 5rem;
        }
      }
    }
  }
}
/*

.archive__header {
  @include ho-container-content;
  @include gc-box-shadow();
  background: $intro-bg;
  color: $intro-color;
  padding: 0;

  h1, h2, h3, a {
    color: $intro-color;
  }

  h1 {
    padding: 2rem 2rem 1rem;
  }

  .archive__descr {
    padding: 2rem;
    background: $white;
    color: $base-font-color;
    margin-top: 0;
  }

  @include bp-up(md){
    h1 {
      padding: 3rem 5rem;
    }

    .archive__descr {
      padding: 3rem 5rem;
    }
  }

  .page--overview-header-lg & {
    // display with a wider header
    max-width: $max-width-content;
  }
}
*/

.overview__item-wrapper {
  .teaser {
    margin-top: 2rem;

    + .teaser {
      margin-top: 0;
      border-top: .1rem solid $border-color;
    }
  }

  + h3 {
    margin-top: 5rem;
  }
}


/*
 * Filters
 */

.form--filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $max-width-content;
  margin: 3rem auto 0;

  @include bp-up(md){
    margin-top: 5rem;
  }
}

.form-item--filter {
  margin: 1.4rem .7rem 0;

  label {
    border: .2rem solid $gc_pantybrown;
    padding: .7rem 1.8rem .5rem 1rem;
    transition: background .2s, border-color .2s;

    &:before {
      border-color: $gc-dark-blue;
      border-width: .1rem;
    }
  }

  // Optimaal Digitaal Kleurtjes
  &.is-active {
    input + label {
      color: $white;

      &:before {
        border-color: $white;
      }
    }

    label[for='commitment'] {
      background: $gc_a11y_green;
      border-color: $gc_green;
    }

    label[for='gebruiksgemak'] {
      background: $gc_dark_purple;
      border-color: $gc_dark_purple_darker;
    }

    label[for='informatieveiligheid'] {
      background: $gc_pink;
      border-color: $gc_pink_darker;
    }

    label[for='kanaalsturing'] {
      background: $gc_orange;
      border-color: $gc_a11y_orange_lg;
      color: $gc_dark-blue;
    }

    label[for='procesaanpak'] {
      background: $gc_a11y_cyan_lg;
      border-color: $gc_cyan;
    }

    label[for='inclusie'] {
      background: $inc_a11y_orange;
      border-color: $inc_orange;
    }

    label[for='samenwerking'] {
      background: $gc_a11y_blue;
      border-color: $gc_blue;
    }
  }
}

