body,
html {
  background: $gc-pantybrown-xlight;
}

.site-container {
  width: 100%;
  max-width: 2200px;
  box-shadow: 0 0 3rem rgba($black, 0.07);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.page-content {
  @include ho-padding;
  background: $gc-pantybrown-light;
  padding-top: 6rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 5;

  &:before {
    content: " ";
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    height: 14rem;
    background: $brand-color;
    z-index: -1;
  }

  @include bp-up(sm) {
    padding-top: 9rem;
    padding-bottom: 8rem;

    &:before {
      height: 24rem;
    }
  }

  @include bp-up(lg) {
    padding-top: 12rem;
    padding-bottom: 8rem;
  }
}

#skiplinks {
  @include visually-hidden;
}

.entry {
  @include ho-container;
}


.page__intro {
  @include gc-page-intro();

  .page--overview-header-lg & {
    max-width: $max-width-content;

    p {
      max-width: $max-width-inner;
      margin: 3rem auto;

      &:last-child {
        padding-bottom: 3rem;
      }
    }
  }
}

.content {
  @include gc-box-shadow();
  position: relative;
  background: $white;
  max-width: $max-width-content;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5rem;

  @include bp-up(md) {
    padding-top: 5rem;
  }

  @include bp-up(lg) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

h1 {
  font-family: $font-secondary;
  font-size: 4rem;
  line-height: 4rem;

  @include bp-up(sm) {
    font-size: 5.2rem;
    line-height: 5.2rem;
  }

  @include bp-up(lg) {
    font-size: 6.8rem;
    line-height: 6.8rem;
  }
}

.breadcrumb {
  @include ho-padding;
  background: $gc-darkest-blue;
  font-size: $font-small;
  color: $white;
  padding-top: .3rem;
  padding-bottom: .3rem;

  > nav {
    @include ho-container;
  }

  a {
    @include icon(after, arrow);
    color: $white;
    transition: padding .2s;

    &:after {
      display: inline-block;
      font-size: .8rem;
      margin: 0 1rem;
      color: $gc-a11y-green;
    }

    &:hover, &:focus {
      padding-right: .2rem;
    }
  }

  ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      list-style: none;
    }
  }
}

.l-hero {

  // Negate page padding
  margin: -6rem -2rem -4rem;
  height: 14rem;

  @include bp-up(sm) {
    margin-left: -3rem;
    margin-right: -3rem;
    margin-top: -9rem;
    height: 30rem;
  }

  @include bp-up(lg) {
    margin-top: -12rem;
    margin-bottom: -7rem;
    height: 34rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Page types

.page,
body[data-template='base.twig']{ //All pages that use the base twig template

  .page__widgets { // Generic wrapper for widgets
    border-top: .1rem solid $border-color;
    margin-top: $gutter;
    padding-top: $gutter;
  }

  &--type-event {
    .page-content {
      padding-bottom: 0;
    }
  }

  &--type-homepage {
    .page-content {
      padding: 0;
      z-index: auto;
    }

    .content {
      background: none;
      max-width: none;
      padding: 0;
    }
  }

  &--type-landing {
    .content {
      @include gc-box-shadow;
      padding: 0;
    }
  }

  &-template-default {
    .content {
      padding-bottom: 0;
    }
  }
}

// Spotlight
// Under content, negate default margins / paddings

.page-content > .section--spotlight {
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: -5rem;

  @include bp-up(md) {
    margin-left: -3rem;
    margin-right: -3rem;
    margin-bottom: -8rem;
  }
}


