
.tipkaart {
  // Default
  @include gc-box-shadow();
  position: relative;
  background: $gc_a11y_green_lg;
  text-align: center;
  overflow: hidden;
  height: 36rem;

  h2, h3 {
    color: $white;
  }

  > a:hover {
    background: darken($gc_a11y_green_lg, 5%);
    border-color: $gc_a11y_green;
  }

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 14rem;
    background: $gc_a11y_green;
    margin: 0 -5rem -5rem -5rem;
    transform: rotate(-3deg);
  }

  &--gebruiksgemak {
    background: $gc_dark_purple;

    &:before {
      background: $gc_dark_purple_darker;
    }

    > a:hover, > a:focus, > a:active {
      background: darken($gc_dark_purple, 5%);
      border-color: $gc_dark_purple_darker;
    }
  }

  &--gebruiksgemak {
    background: $gc_dark_purple;

    &:before {
      background: $gc_dark_purple_darker;
    }

    > a:hover, > a:focus, > a:active {
      background: darken($gc_dark_purple, 5%);
      border-color: $gc_dark_purple_darker;
    }
  }

  &--informatieveiligheid {
    background: $gc_pink;

    &:before {
      background: $gc_pink_darker;
    }

    > a:hover, > a:focus, > a:active {
      background: darken($gc_pink, 5%);
      border-color: $gc_pink_darker;
    }
  }

  &--procesaanpak {
    background: $gc_a11y_cyan_lg;

    &:before {
      background: $gc_cyan;
    }

    > a:hover, > a:focus, > a:active {
      background: darken($gc_cyan, 5%);
      border-color: $gc_cyan;
    }
  }

  &--kanaalsturing {
    background: $gc_a11y_orange_lg;

    &:before {
      background: $gc_orange;
    }

    > a:hover, > a:focus, > a:active {
      background: darken($gc_a11y_orange_lg, 5%);
      border-color: $gc_orange;
    }
  }

  &--samenwerking {
    background: $gc_blue;

    &:before {
      background: $gc_a11y_blue;
    }

    > a:hover, > a:focus, > a:active {
      background: darken($gc_blue, 5%);
      border-color: $gc_a11y_blue;
    }
  }

  &--inclusie {
    background: $inc_orange;

    &:before {
      background: $inc_a11y_orange;
    }

    > a:hover, > a:focus, > a:active {
      background: darken($inc_orange, 5%);
      border-color: $inc_a11y_orange;
    }
  }
}

.tipkaart__link {
  color: $white;
  padding: 2rem 2rem 2.2rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border: .3rem solid transparent;
  transition: border-color .2s, padding .3s, background-color .2s;


  &:hover, &:focus, &:active {
    color: $white;
    padding-bottom: 2rem;

    .tipkaart__title {
      text-decoration: underline;
    }
  }

  @include bp-up(lg) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}



.tipkaart__toptip {
  position: absolute;
  right: 0;
  top: 0;
  width: 7.5rem;
  height: 7.5rem;
  color: transparent;
  overflow: hidden;

  &:after,
  &:before{
    content: " ";
    display: block;
    position: absolute;
  }

  &:before {
    transform: rotate(45deg);
    width: 10rem;
    background: $gc_a11y_green;
    height: 5rem;
    top: 0;
    left: 0;
    margin: -1rem 0 0 1rem;

    .tipkaart--informatieveiligheid & {
      background: $gc_pink_darker;
    }

    .tipkaart--samenwerking & {
      background: $gc_a11y_blue;
    }

    .tipkaart--commitment & {
      background: $gc_a11y_green;
    }

    .tipkaart--procesaanpak & {
      background: $gc_cyan;
    }

    .tipkaart--gebruiksgemak & {
      background: $gc_dark_purple_darker;
    }

    .tipkaart--kanaalsturing & {
      background: $gc_orange;
    }

    .tipkaart--inclusie & {
      background: $inc_a11y_orange;
    }
  }

  &:after {
    width: 3.8rem;
    height: 3.8rem;
    top: 0;
    right: 0;
    background: url('/wp-content/themes/ictuwp-theme-gc2020/assets/images/ico-star.svg') center center no-repeat;
  }
}

.form-item--filter {
    margin: 1.4rem .7rem 0;
    border: 0.2rem solid #e8d8c7;
    padding: .7rem 1.8rem .5rem 1rem;
    -webkit-transition: background .2s, border-color .2s;
    transition: background .2s, border-color .2s;
    line-height: 2.6rem;
    font-family: "montserratsemibold", Helvetica, Arial, sans-serif;


    &:before{
        content: " ";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #D1DFE3;
    margin-right: 1.5rem;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
  }



}

.form-item--filter.active{

     background: $gc_a11y_green;
     color: $white;

    &.cat--informatieveiligheid  {
      background: $gc_pink_darker;
    }

    &.cat--samenwerking  {
      background: $gc_a11y_blue;
    }

    &.cat--commitment  {
      background: $gc_a11y_green;
    }

    &.cat--procesaanpak  {
      background: $gc_cyan;
    }

    &.cat--gebruiksgemak  {
      background: $gc_dark_purple_darker;
    }

    &.cat--kanaalsturing {
      background: $gc_orange;
    }

    &.cat--inclusie  {
      background: $inc_a11y_orange;
    }

    &:before{
        border-color: darken($gc_a11y_green,5%);
    -webkit-box-shadow: 0.3rem 0.3rem 0 rgba(37, 179, 75, 0.3);
    box-shadow: 0.3rem 0.3rem 0 rgba(37, 179, 75, 0.3);
    background: #fff url(/wp-content/themes/ictuwp-theme-gc2020/assets/images/icons/check.svg) center center no-repeat;
    background-size: 1.2rem auto;
    &.cat--informatieveiligheid  {
     border-color: darken($gc_pink_darker,5%);
    }

    &.cat--samenwerking  {
      border-color: darken($gc_a11y_blue,5%);
    }

    &.cat--commitment  {
      border-color: darken($gc_a11y_green,5%);
    }

    &.cat--procesaanpak  {
      border-color: darken($gc_cyan,5%);
    }

    &.cat--gebruiksgemak  {
      border-color: darken($gc_dark_purple_darker,5%);
    }

    &.cat--kanaalsturing {
      border-color: darken($gc_orange,5%);
    }

    &.cat--inclusie  {
      border-color: darken($inc_a11y_orange,5%);
    }
    }


  }



.tipkaart__nummer {
  font-family: $font_secondary;
  text-transform: uppercase;
  font-size: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &:after,
  &:before {
    display: inline-block;
    transform: translateY(-9px);
    line-height: 1;
  }

  &:before {
    content: '_ ';
    margin-right: 8px;
  }

  &:after {
    content: ' _';
    margin-left: 8px;
  }
}

.tipkaart__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

.tipkaart__categorie {
  position: relative;
  margin-top: auto;
  font-family: $font_secondary;

  span {
    font-size: 2.2rem;
    line-height: 3rem;
    text-transform: uppercase;
    display: block;
    padding-top: .5rem;
  }
}

.icon--tipkaart {
  fill: $white;
  width: 8rem;
  height: 7rem;
}
