.link {

  &--linklist {
    font-family: $font_primary_bold;
    font-size: 2rem;
    line-height: 2.8rem;
    transition: padding .2s;
    display: inline-block;

    &:hover,
    &:focus {
      text-decoration: none;
      padding-left: .1rem;
    }
  }

  &--social {
    @include square(3rem);
    display: block;
    border: .1rem solid $border-color;
    text-decoration: none;
    overflow: hidden;
    transition: background-color .2s;

    &:before {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 3rem;
      transition: transform .2s;
    }

    &.linkedin {
      @include icon(before, linkedin);
    }

    &.twitter {
      @include icon(before, twitter);
    }

    &.facebook {
      @include icon(before, facebook);
    }

    &.instagram {
      @include icon(before, instagram);
    }

    &.tumblr {
      @include icon(before, tumblr);
    }

    &.soundcloud {
      @include icon(before, soundcloud);
    }

    &.myspace {
      @include icon(before, myspace);
    }

    &.youtube {
      @include icon(before, youtube);
    }

    &.wikipedia {
      @include icon(before, wikipedia);
    }

    &.slack {
      @include icon(before, slack);
    }

    &.website {
      @include icon(before, link);
    }

    &:hover, &:focus {
      background: $white;
      border-color: $gc-dark-blue;

      &:before {
        transform: scale(1.1);
      }
    }
  }

  &--contact {
    display: inline-flex;
    transition: border-color .2s;

    &:before {
      float: left;
      margin-right: 1rem;
      display: inline-block;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;

      &:before {
        margin-right: 1.1rem;
      }
    }

    @include bp-down(sm) {
      display: block;
      word-break: break-word;
    }
    @include bp-up(sm) {
      + .link--contact {
        margin-left: 2rem;
      }
    }
  }

  &--phone {
    @include icon(before, phone);
  }

  &--email {
    @include icon(before, mail);
  }

  &--arrow {
    @include icon(after, arrow);
    position: relative;
    padding-right: 3rem;
    display: block;
    text-decoration: none;

    &:after {
      position: absolute;
      right: .5rem;
      top: 0;
      font-size: 1.6rem;
      transition: right .2s;
    }

    &:hover, &:focus {
      text-decoration: underline;

      &:after {
        right: 0.3rem;
      }
    }
  }

  &--arrow-icon {
    @include icon(before, arrow);
    margin-top: 1.4rem;
    text-decoration: none;
    font-size: $font-smaller;
    position: relative;
    padding-left: 2rem;
    display: block;
    font-family: $font-primary-semi;
    line-height: 2.2rem;
    transition: padding .3s;

    &:hover, &:focus {
      padding-left: 2.1rem;
      text-decoration: underline;
    }

    &:before {
      color: $color-primary;
      font-size: 1rem;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &--external {
    display: inline-block;
    @include icon(after, square-arrow);

    &:after {
      display: inline-block;
      font-size: 1.1rem;
      margin: -.5rem 0 0 1rem;
      float: right;
    }
  }
}


$btn_width: 3.2rem;

// Arrow link, in card titles
.arrow-link {
  text-decoration: none;
  position: relative;
  display: block;
  padding-right: 3.2rem;

  &:hover,
  &:focus {
    text-decoration: underline;

    .arrow-link__icon {
      @include gc-box-shadow();
      border-color: $gc-dark-blue;
    }
  }

  span {
    display: block;
  }
}

.arrow-link__descr {
  font-size: $font_small;
  font-family: $font_primary_semi;
  text-transform: none;
}

.arrow-link__text {
  padding-right: 1.6rem;
}

.arrow-link__icon {
  border: .1rem solid transparent;
  @include icon(before, arrow);
  height: 4.4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.6rem;
  width: $btn_width;
  position: absolute;
  right: 0;
  top: 0;
  margin: -.5rem -1rem 0 0;
}


// Double, apparently
.btn--read-more,
.link--read-more {
  @include icon(before, arrow);
  font-family: $font-primary-semi;
  display: inline-block;

  &:before {
    float: left;
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: margin .3s;
    color: $meta-data-icon;
  }

  &:hover, &:focus {
    text-decoration: none;

    &:before {
      margin-right: 1.1rem;
    }
  }
}
