.overview {
  &--list {
    margin: 0;
    padding: 0;
    @include ho-container;

    .l-section-content {
      max-width: none;
    }

    .teaser:not(.teaser--spotlight),
    h3 {
      max-width: $max-width-inner;
      margin-left: auto;
      margin-right: auto;
    }

    .overview__item + .overview__item {
      border-top: .1rem solid $border-color;
      margin-top: 2rem;
      padding-top: 2rem;
    }
  }
}

.overview__item {
  list-style: none;
}


.page--overview-archive {
  .content {
    padding-bottom: 5rem;

    @include bp-up(md){
      padding-bottom: 8rem;
    }

    @include bp-up(xlg){
      padding-bottom: 12rem;
    }
  }
}