.post {
  .entry-intro {
    font-family: $font-primary-semi;

    @include bp-up(md) {
      font-size: 2.2rem;
      line-height: 3.4rem;
    }
  }

  &--full {
    .post__header {
      @include ho-make-container($max-width-inner);
    }

    // Old editor
    .post__body {
      @include ho-make-container($max-width-inner);

      margin-top: $gutter;
      padding-bottom: $gutter;

      @include bp-up(md) {
        padding-bottom: $gutter * 2;
      }
    }

    .l-with-related & {
      // remove margin top for "default" related - it's already in the last section
      .post__content > .section--overview {
        margin-top: 0;
      }
    }

    > .author {
      @include ho-make-container($max-width-inner);
    }
  }

  &--plain {
    padding-bottom: 5rem;
  }

  &.l-with-stepchart {
    .page__intro {
      padding-bottom: 5rem;

      + .section--text-blocks {
        margin-top: 0;
        padding-top: 0;

        .l-section-content {
          margin-top: -5rem;

          @include bp-up(md) {
            margin-top: -8rem;
          }
        }
      }
    }
  }
}

// sections for either .post or .entry
.post__body,
.entry-content {

  > .section {
    @include ho-make-container($max-width-inner);

    &:first-child {
      // Make margin smaller if first section is a text one
      &.section--paragraph {
        margin-top: 2rem;
      }
    }

    &:last-child {
      @include gc-last-padding;
    }

    &--paragraph {
      @include bp-down(md) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &--bg-option,
    &--overview {
      max-width: none;
      @include ho-padding;
      @include negate-padding;
    }

    // Sections which don't need the default max-width
    &--overview.l-item-count-3,
    &--examples {
      max-width: none;
    }
  }

  > div:last-child {
    // Not a section, can also be last
    &.wp-block-coblocks-gallery-masonry {
      @include gc-last-padding;
    }
  }

}

// Sections buiten gutenberg / post body
.entry > .section,
.post__content > .section {
  @include ho-padding;

  &:last-child {
    @include gc-last-padding;

    &.section--overview {
      @include bp-up(lg) {
        padding-bottom: 10rem;
      }
    }
  }
}

// Exceptions for .post sections outside of post body
.post__content > .section {
  &--bg-option {
    @include negate-padding;
    @include ho-padding;
  }
}

.entry-content,
.post__body {
  + .section {
    // no margin top - the last child of the sections inside of body already get padding on the last child.
    margin-top: 0;
  }
}

.wp-block-image {
  @include ho-make-container($max-width-inner);
}

.entry {
  &--type-overview {
    .page__intro .section--paragraph {
      padding: 3rem;

      p:first-child {
        margin-top: 0;
      }

      @include bp-up(md) {
        padding-left: 5rem;
        padding-right: 5rem;
      }
    }
  }

  &--type-post .entry-content {
    // Remove double padding - post also gets padding from main
    padding-left: 0;
    padding-right: 0;
  }
}

/*
 * Pagination
 */

.pagination {
  @include gc-pagination;
}

/*
 * Comments
 */

#comments {
  @include ho-container-content;
  margin-top: 5rem;
}

.comment-list {
  padding: 0;

  li {
    list-style: none;
  }
}

.comment {
  @include gc-box-shadow();
  border: .1rem solid $border_color;
  padding: 2rem;

  margin-top: $gutter;
  font-size: $font-smaller;
  @include bp-up(md) {
    padding: 2.5rem 3rem 3rem;
  }


  @include bp-up(lg) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .comment {
    box-shadow: none;
    padding-bottom: 1rem;
  }

  .children {
    margin-bottom: 1rem;
  }

  + .comment {
    margin-top: $gutter;
  }
}

.comment-author {
  color: $meta-data;
  font-size: $font_small;

  cite {
    font-family: $font_primary_semi;
  }
}

.comment-content {
  margin-top: 1.5rem;
}

.comment-meta {
  color: $meta-data;
  font-size: $font_small;
  font-family: $font_primary_semi;
  display: flex;
  border-top: .1rem solid $border-color;
  margin-top: 2rem;
  padding-top: .5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .reply {
    margin-left: auto;
    padding-left: 2rem;
  }

  a {
    display: inline-block;
  }
}

.comment-respond {
  margin-top: 3rem;
  padding-bottom: 3rem;

  @include bp-up(lg) {
    padding-bottom: 5rem;
    margin-top: 5rem;
  }

  h3 {
    font-size: 2.2rem;
  }
}

.children .comment {
  border-top-color: $color-primary;
  border-top-width: .3rem;
}

.comment-form {
  label {
    + input,
    + textarea {
      margin-top: .5rem;
    }
  }


  @include bp-up(md) {
    display: flex;
    flex-wrap: wrap;

    .comment-form-comment,
    .form-submit {
      width: 100%;
    }

    .author,
    .email {
      width: 50%;
    }

    .author {
      padding-right: $gutter / 2;
    }

    .email {
      padding-left: $gutter / 2;
    }
  }
}
