.section--spotlight {
  @include ho-padding;
  margin-top: 5rem;
  max-width: none;

  @include bp-up(lg) {
    margin-top: 8rem;
  }

  @include bp-up(xlg) {
    margin-top: 10rem;
  }


  .l-spotlight-wrapper {
    position: relative;
  }
}

.l-spotlight-wrapper {
  max-width: $max-width-content;
  margin: 0 auto;

  &.l-item-count-2 {
    max-width: $max-width-container;

    @include bp-up(lg) {
      display: flex;

      .spotlight:nth-child(odd) {
        margin-right: $gutter / 2;
      }

      .spotlight:nth-child(even) {
        margin-left: $gutter / 2;
      }
    }

    @include bp-up(lg) {
      .spotlight__content {
        margin-top: -8rem;
      }
    }
  }
}

.spotlight {
  margin-top: $gutter;
}

.spotlight__content {
  @include gc-box-shadow();
  position: relative;
  background: $intro_bg;
  color: $intro_color;
  margin: -2rem 2rem 0;
  padding: 2rem;
  max-width: 72rem;

  @include bp-up(sm) {
    padding: 3rem;
  }

  h2, h3, a {
    color: $intro_color;
  }

  h2, h3 {
    @include gc-section-heading;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 1rem 0 0 0;
  }

  .btn {
    margin-top: 2rem;
    margin-right: 2rem;
  }

  @include bp-up(md) {
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: -10rem;
  }
  @include bp-up(lg) {
    margin-top: -18rem;
    padding: 3.5rem 4rem;
  }
}

.spotlight__image {
  height: 30rem;
  overflow: hidden;

  @include bp-up(md) {
    height: 53rem;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .l-item-count-2 & {
    @include bp-up(md) {
      height: 26rem;
    }

    @include bp-up(lg) {
      height: 32rem;
    }
  }
}

