
// Per section

.section--image {
  .l-section-content {
    max-width: $max-width-inner;
    margin: 0 auto;
  }

  picture {
    display: block;

    img {
      width: 100%;
    }
  }

  + p, + h2 {
    @include bp-up(md) {
      margin-top: 5rem;
    }
  }

  &--fullwidth {
    max-width: $max-width-container;

    .l-section-content {
      max-width: none;
    }
  }

  .l-section-top + .l-section-content {
    margin-top: 2rem;
  }

  &.l-item-count-2 .l-section-content {
    @include bp-up(sm) {
      display: flex;

      picture {
        margin-left: $gutter-smaller * 0.5;
        margin-right: $gutter-smaller * 0.5;
        width: calc(50% - #{$gutter-smaller});
      }
    }

    @include bp-down(sm) {
      picture + picture {
        margin-top: $gutter-smaller;
      }
    }
  }

  &.l-picture-grid {
    .image {
      margin-top: $gutter-xsmall;
    }

    @include bp-up(sm) {
      .l-section-content {
        max-width: calc(#{$max-width-inner} + #{$gutter-xsmall});
        display: flex;
        flex-wrap: wrap;
      }

      .image {
        margin-top: $gutter-xsmall;
        width: calc(50% - #{$gutter-xsmall});
        margin-left: $gutter-xsmall * 0.5;
        margin-right: $gutter-xsmall * 0.5;

        &:nth-child(3n+1) {
          width: calc(100% - #{$gutter-xsmall});
        }
      }
    }
  }
}
