.page-template-template-landingspagina {
  .page__intro {
    box-shadow: none;
  }
}

.entry--type-landing {
  .entry-content > .section {
    &:first-child {
      &.section--heading,
      &.section--paragraph {
        margin-top: 4rem;

        @include bp-up(md) {
          margin-top: 7rem;
        }
      }
    }
  }
}