.page-template-template-landingspagina {
  .content {
    padding: 0;
  }
}

.post--type-landing {
  .post__header {
    background: $intro-bg;
    max-width: none;
    padding: 2rem;

    @include bp-up(md){
      padding: 4rem 5rem;
    }

    h1, h2, h3, a {
      color: $intro-color;
    }
  }

  .post__sections {
    @include ho-padding;

    > .section:first-child,
    > figure:first-child {
      @include bp-up(md){
        margin-top: 5rem;
      }
    }
  }
}