.post {
  .entry-intro {
    font-family: $font-primary-semi;

    @include bp-up(md) {
      font-size: 2.2rem;
      line-height: 3.4rem;
    }
  }

  &--full {
    .entry-body,
    .entry-header {
      max-width: $max-width-inner;
      margin: 0 auto;
    }

    .post__body {
      > .section {

        &:first-child {
          // Make margin smaller if first section is a text one
          &.section--paragraph {
            margin-top: 2rem;
          }

          &:last-child {
            padding-bottom: 4rem;

            @include bp-up(lg) {
              padding-bottom: 7rem;
            }
          }
        }

        &--paragraph {
          @include bp-down(md){
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }

    .section--bg-option {
      @include ho-padding;
      @include negate-padding;
    }

    .l-with-related & {
      // remove margin top for "default" related - it's already in the last section
      .post__content > .section--overview {
        margin-top: 0;
      }
    }
  }


  &.l-with-stepchart {
    .page__intro {
      padding-bottom: 5rem;

      + .section--text-blocks {
        margin-top: 0;
        padding-top: 0;

        .l-section-content {
          margin-top: -5rem;

          @include bp-up(md) {
            margin-top: -8rem;
          }
        }
      }
    }
  }
}


/*
 * Pagination
 */

.pagination {
  @include gc-pagination;

  display: flex;
  justify-content: center; // beter dan flex-start, zie bijv. https://gcadmin.test-ictu-gc.nl/gebruikercentraal/category/blog/
  padding-bottom: 5rem;

  @include bp-up(lg) {
    padding-bottom: 7rem;
  }

  // pagination is a list
  &, li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  li {
    margin: .25rem;
    padding: .25rem;
  }

  width: 100%;

  a {
    border-color: $border_color;
  }

  > div:not(.pagination) {
    width: 50%;
  }

  .pagination-previous {
    padding-right: $gutter / 2;
  }

  .pagination-next {
    padding-left: $gutter / 2;
  }
}

/*
 * Comments
 */

#comments {
  @include ho-container-content;
  margin-top: 5rem;
}

.comment-list {
  padding: 0;

  li {
    list-style: none;
  }
}

.comment {
  @include gc-box-shadow();
  border: .1rem solid $border_color;
  padding: 2rem;

  margin-top: $gutter;
  font-size: $font-smaller;
  @include bp-up(md) {
    padding: 2.5rem 3rem 3rem;
  }


  @include bp-up(lg) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .comment {
    box-shadow: none;
    padding-bottom: 1rem;
  }

  .children {
    margin-bottom: 1rem;
  }

  + .comment {
    margin-top: $gutter;
  }
}

.comment-author {
  color: $meta-data;
  font-size: $font_small;

  cite {
    font-family: $font_primary_semi;
  }
}

.comment-content {
  margin-top: 1.5rem;
}

.comment-meta {
  color: $meta-data;
  font-size: $font_small;
  font-family: $font_primary_semi;
  display: flex;
  border-top: .1rem solid $border-color;
  margin-top: 2rem;
  padding-top: .5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .reply {
    margin-left: auto;
    padding-left: 2rem;
  }

  a {
    display: inline-block;
  }
}

.comment-respond {
  margin-top: 3rem;
  padding-bottom: 3rem;

  @include bp-up(lg) {
    padding-bottom: 5rem;
    margin-top: 5rem;
  }

  h3 {
    font-size: 2.2rem;
  }
}

.children .comment {
  border-top-color: $color-primary;
  border-top-width: .3rem;
}

.comment-form {
  label {
    + input,
    + textarea {
      margin-top: .5rem;
    }
  }


  @include bp-up(md) {
    display: flex;
    flex-wrap: wrap;

    .comment-form-comment,
    .form-submit {
      width: 100%;
    }

    .author,
    .email {
      width: 50%;
    }

    .author {
      padding-right: $gutter / 2;
    }

    .email {
      padding-left: $gutter / 2;
    }
  }
}
