

.teaser {
  @include gc-box-shadow();
  background: $white;
  margin-top: $gutter;
  font-size: $font-smaller;
  line-height: 2.8rem;

  h3 {
    @include bp-down(sm) {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }

  .l-teaser-content {
    transition: background-color .2s;
  }

  &.l-with-image {
    .teaser__link {
      @include bp-down(sm) {
        padding: 0;

        .l-teaser-content {
          padding: 2rem;
        }
      }

      @include bp-up(sm) {
        display: flex;
        align-items: flex-start;
        padding-left: 0;
        padding-top: 0;
      }
    }

    .l-teaser-content {
      padding-top: 2rem;
    }
  }

  /*
  * Spotlight View Mode
  */

  &--spotlight {
    margin: -7rem -2rem 0;
    position: relative;
    background: none;
    box-shadow: none;

    .teaser__title {
      font-family: $font-secondary;
      font-size: 3.4rem;
      line-height: 3.4rem;
    }

    .teaser__image {
      transition: opacity .2s;
    }

    @include bp-up(sm) {
      @include gc-box-shadow();
      background: $color-secondary;

      .teaser__link {
        height: 40rem;
        overflow: hidden;
      }

      .teaser__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include gc-box-shadow();
      }
    }

    @include bp-up(md) {
      margin-left: 0;
      margin-right: 0;
    }

    @include bp-up(lg) {
      margin-top: -12rem;
      margin-bottom: 6rem;

      .teaser__title {
        font-family: $font-secondary;
        font-size: 5rem;
        line-height: 5rem;
      }

      .teaser__link {
        height: 60rem;
      }
    }

    @include bp-up(xlg) {

      .teaser__link {
        height: 70rem;
      }
    }

    &.l-with-image {

      .teaser__link {
        padding: 0;
        display: block;
        position: relative;
        background: $color-secondary;

        &:focus, &:hover {
          .teaser__image {
            opacity: 0.8;
          }

          .l-teaser-content {
            background: $gc-pantybrown-xlight;
          }
        }
      }

      .l-teaser-content {
        padding: 2rem;
        background: $white;

        @include bp-down(sm) {
          margin: -2rem 2rem 0;
          position: relative;
        }

        @include bp-up(sm) {
          position: absolute;
          bottom: 3rem;
          right: 0;
          background: $white;
          padding: 2.5rem 3rem;
          margin-left: 10%;
          width: 90%;
          max-width: 68rem;
        }

        @include bp-up(lg) {
          bottom: 8rem;
        }
      }
    }
  }

  &--small {
    background: none;
    box-shadow: none;

    .teaser__image {
      width: 100%;
      height: auto;
      position: relative;
    }

    .teaser__title {
      margin-top: 1.6rem;
      font-size: 2rem;
      line-height: 2.8rem;
    }

    .date-badge {
      position: absolute;
      left: 0;
      bottom: 0;
      box-shadow: none;
      background: $color-secondary;
    }
  }
}

.teaser__link {
  text-decoration: none;
  display: block;
  padding: 2rem;
  transition: background .2s;
  position: relative;
  overflow: hidden;

  @include bp-up(md) {
    padding: 3rem;
  }

  &:hover, &:focus {
    background: $gc-pantybrown-xlight;

    .arrow-link__icon {
      @include gc-box-shadow();
      border-color: $gc-dark-blue;
    }

    .teaser__title {
      text-decoration: underline;
    }
  }
}

.teaser__image {
  width: 10rem;
  height: auto;
  margin-right: 2.4rem;

  @include bp-down(sm) {
    width: 100%;
    max-width: none;
  }

  @include bp-up(sm) {
    width: 16rem;
  }

  @include bp-up(md) {
    width: 20rem;
  }
}

.teaser__header {
  .date-badge {
    float: left;
    margin-right: 2rem;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
  }

  h3 {
    width: 100%;
  }

  .teaser--type-blog & {
    position: relative;
    padding-left: 5.6rem;

    @include bp-up(sm){
      padding-left: 6.5rem;
    }

    .date-badge {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.teaser__description {
  border-top: .1rem solid $border-color;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  clear: both;
}

.label {
  position: absolute;
  z-index: 10;
  font-family: $font-secondary;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: -3rem;
  background: $color-primary;
  width: 12rem;
  text-align: center;
  padding: .3rem 0 .2rem;
  text-transform: uppercase;
  color: $white;
  transform: rotate(40deg);
}
