
.teaser {
  @include gc-box-shadow();
  background: $white;
  margin-top: $gutter;
  font-size: $font-smaller;
  line-height: 2.8rem;
  padding: 2rem;

  .l-teaser-content {
    transition: background-color .2s;
  }

  @include bp-up(sm) {
    padding: 3rem;

    h3 {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }

  &.l-with-image {
    position: relative;

    .teaser__image {
      position: absolute;
      top: 0;
      left: 0;
    }

    @include bp-down(sm) {
      padding-top: 28rem;

      .teaser__image {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @include bp-up(sm) {
      padding-left: 19rem;

      .teaser__image {
        width: 16rem;
      }
    }

    @include bp-up(lg) {
      padding-left: 23rem;

      .teaser__image {
        width: 20rem;
      }
    }
  }

  /*
  * Spotlight View Mode
  */

  &--spotlight {
    margin: -7rem -2rem 0;
    position: relative;
    background: none;
    box-shadow: none;

    .teaser__title {
      font-family: $font-secondary;
      font-size: 3.4rem;
      line-height: 3.4rem;
    }

    .teaser__image {
      transition: opacity .2s;
    }

    @include bp-up(sm) {
      @include gc-box-shadow();
      background: $color-secondary;

      .teaser__link {
        height: 40rem;
        overflow: hidden;
      }

      .teaser__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include gc-box-shadow();
      }
    }

    @include bp-up(md) {
      margin-left: 0;
      margin-right: 0;
    }

    @include bp-up(lg) {
      margin-top: -12rem;
      margin-bottom: 6rem;

      .teaser__title {
        font-family: $font-secondary;
        font-size: 5rem;
        line-height: 5rem;
      }

      .teaser__link {
        height: 60rem;
      }
    }

    @include bp-up(xlg) {

      .teaser__link {
        height: 70rem;
      }
    }
  }

  &--small {
    background: none;
    box-shadow: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .teaser__image {
      width: 100%;
      height: auto;
      position: relative;
      order: 1;
      background: $brand-color;

      img {
        display: block;
        transition: opacity .3s, transform .3s;
      }

      > a {
        display: block;
        overflow: hidden;
      }

      a:hover, a:focus {
        img {
          opacity: 0.6;
          transform: scale(1.05);
        }
      }
    }

    .teaser__title {
      margin-top: 1.6rem;
      font-size: 2rem;
      line-height: 2.8rem;
      order: 2;
    }

    .date-badge {
      position: absolute;
      left: 0;
      bottom: 0;
      box-shadow: none;
      background: $color-secondary;
    }
  }

  &--type-event {
    padding-top: 0;
    .teaser__header {
      padding-top: 2.5rem;
    }
    .date-badge {
      margin-top: 2.5rem;
    }
  }
}



.teaser__header {
  h3 {
    width: 100%;
  }

  &--with-badge {
    position: relative;
    padding-left: 6rem;
    overflow: hidden;

    .date-badge {
      position: absolute;
      left: 0;
      top: 0;
    }

    .teaser--not-current & {
      padding-left: 8.5rem;
    }
  }
}

.teaser__description {
  border-top: .1rem solid $border-color;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  clear: both;
}

.label {
  position: absolute;
  z-index: 10;
  font-family: $font-secondary;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: -3rem;
  background: $color-primary;
  width: 12rem;
  text-align: center;
  padding: .3rem 0 .2rem;
  text-transform: uppercase;
  color: $white;
  transform: rotate(40deg);
}
