.video {
  margin: 5rem auto;

  @include bp-down(md) {
    max-width: 100%;
    margin-top: 8rem;
    .video__video {
      .mejs-container {
        width: 100% !important;
        max-width: 100% !important;
        max-height: 250px;
        margin-left: auto;
        margin-right: auto;


        .mejs-poster {
          height: auto;
          max-width: 100% !important;
          max-height: 250px;
          background-position: top center;
        }

        .mejs-mediaelement {
          overflow: hidden;
          width: 100%;
          height: auto;
          max-height: 250px;

          video {
            max-height: 250px;
            width: 100% !important;
            margin-top: auto;
            margin-bottom: auto;
          }
        }

      }

      .mejs-overlay {
        max-width: 100% !important;
        max-height: 300px;

        .mejs-overlay-button {
          height: 60px;
          width: 60px;
          margin: -30px 0 0 -30px;
          background-size: cover;
          background-position: center top;

          &:hover,
          &:focus,
          &:active {
            background-position: center bottom;
          }
        }

      }


      .mejs-mediaelement {
        left: 0;
        right: 0;
      }
    }
  }
  @include bp-up(lg) {
    max-width: $max-width-inner;
    margin-top: 8rem;
  }
}

.video__video {
  //  @include gc-box-shadow();
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.video__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video__play {
  background: $gc-dark-blue;
  padding: 1.5rem 2rem;
  border: none;
  color: $white;
  display: block;
  font-family: $font-primary-bold;
  margin-top: 2rem;
}

.play {
  @include square(12rem);
  @include icon(before, play);
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gc-dark-blue;
  color: $gc-green;
  border-radius: 50%;
  font-size: 4rem;
  padding-left: .5rem;
}

.video__summary {
  border-bottom: .1rem solid $gc-pantybrown;
  padding: .8rem;
  font-size: $font-smaller;
}

.video__transcription {
  @include icon(before, download);
  font-family: $font-primary-semi;
  text-decoration: underline;

  &:before {
    color: $gc-green;
    margin-right: 1rem;
    transition: margin .2s;
    display: inline-block;
  }

  &:hover, &:focus {
    text-decoration: none;

    &:before {
      margin-right: 1.1rem;
    }
  }
}


// extra styling voor rijksvideo plugin


.video__video {
  position: relative;
  background: $video_bg;
  border-bottom: .1rem solid $gc-pantybrown;
  z-index: 40;

  //box-shadow: none; // ja sorry,
  // Gewoon ontwerp kijken of bespreken:)

  .mejs-container {
    width: 100%;
  }

  .block-audio-video {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .mejs-video {
    width: 100%;
    @include gc-box-shadow();
  }

  .collapsetoggle button {
    @include icon(before, subtitle);
    background: none;
    border: none;
    color: $video_btn_color;
    background: $video_btn_bg;
    height: 3rem;
    padding: .8rem 1.5rem .8rem 1rem;
    font-size: $font_small;
    font-family: $font-primary-semi;

    &:before {
      color: $video_btn_icon_color;
      float: left;
      margin: .1rem 1rem 0 0;
    }

    &:focus, &:hover {
      text-decoration: underline;
    }

    &[aria-expanded='true'] {
      background: $video_btn_active_bg;

      &:before {
        color: $video_btn_active_icon_color;
      }
    }
  }

  .downloads {
    .collapsetoggle button {
      @include icon(before, download);
    }
  }

  .collapsible {
    @include gc-box-shadow();
    position: absolute;
    z-index: 90;
    background: $white;
    color: $base-font-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem;

    @include bp-up(md) {
      padding: 3rem 4rem;
    }

    p {
      padding: 0;
    }
  }

  .download {
    @include icon(before, download);
    position: relative;
    padding-left: 2rem;
    padding-top: 1rem;

    a {
      display: block;
      font-family: $font-primary-semi;

      &:hover, &:focus {
        text-decoration: underline;
      }

      .meta {
        text-decoration: none;
        display: block;
        color: $meta-data;
        font-size: $font-small;
        font-family: $font-primary;
      }
    }

    &:before {
      position: absolute;
      left: 0;
      top: 1.5rem;
      color: $color-primary;
    }

    + .download {
      border-top: .1rem solid $border-color;
      margin-top: 1rem;
    }
  }


}

//Override
.video__video {
  .mejs-container .mejs-controls {
    background: $video_bg;
  }
}


// overlay
.section.section--video {

  &:before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background: rgba($gc_darkest-blue, 0.6);
    z-index: 0;
    transition: opacity .5s;
    transition-delay: .1s;
  }

  &.show-overlay {
    &:before {
      width: 100vw;
      height: 100vh;
      z-index: 6;
      opacity: 1;
    }

    .page-header {
      position: initial;
    }
    .section--video {
    }

    .video {
      z-index: 50;
      position: relative;
    }

  }
}
