{% if items|length > 3 %}
  {% set count = '3' %}
{% else %}
  {% set count = items|length %}
{% endif %}


<section class="section section--overview-list l-item-count-{{ count }}">


  {# Wrapper for all section content #}
  <div class="l-section-content">

    {% if title %}
    <h2 class="overview__group-title">{{ title }}</h2>
    <div class="overview__item-wrapper">

      {% if items %}

      <div class="overview overview--list">
        {% for item in items %}

          {% include 'components/teaser.html.twig' with {
            'title' : item.title,
            'headerlevel' : 'h3',
            'descr' : item.descr,
            'img' : item.img,
            'type' : item.type,
            'quote' : item.quote,
            'meta': item.meta,
            'tip_nummer': tip_nummer,
            'category': item.category,
            'toptip': item.toptip,
            'toptiptekst': item.toptiptekst,
            'start_date': ( item.start_date ?? '' ),
            'end_date': ( item.end_date ?? '' ),
            'post_date': ( item.post_date ?? '' ),
            'full': ( item.full ?? '' ),
            'url': item.url
          } %}
        {% endfor %}
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</section>

