<section class="section section--downloads"{% if id %} id="{{ id }}"{% endif %}>
  {% if title or section_descr %}
    <div class="l-section-top">
      {% if title %}
        <h2 class="section__title">{{ title }}</h2>
      {% endif %}

      {% if descr %}
        <p class="section__description">{{ descr }}</p>
      {% endif %}
    </div>
  {% endif %}

  <div class="l-section-content">
    <ul class="item-list">
      {% for item in items %}

        {% if item.url %}
          <li class="item-list__item">
            {% include 'components/download-box.html.twig' with {
              'title': item.title,
              'descr': item.descr,
              'linktext': item.linktext,
              'url': item.url,
              'aria_label': item.aria_label,
              'meta': item.meta
            } %}
          </li>
        {% endif %}

      {% endfor %}

    </ul>

  </div>
</section>

