body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-color;
  font-family: $font-primary;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include bp-down(md){
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  &.page--no-scroll {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}

a {
  color: $link;
  text-decoration: underline;
  transition: color 0.2s;

  &:hover, &:focus {
    color: $link-hover;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-heading-font;
  color: $base-heading-color;
  margin: 0;
  font-weight: normal;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.8rem;

  @include bp-up(md) {
    font-size: $base-h2-size;
    line-height: $base-h2-line-height;
  }
}

h3 {
  font-size: $base-h3-size;
  line-height: $base-h3-line-height;
}

h4 {
  font-size: $base-h4-size;
  line-height: $base-h4-line-height;
}

p {
  margin: 1.8rem 0 0 0;
}

strong {
  font-weight: normal;
  font-family: $font-primary-bold;
}

ul li pre {
  display: none;
}


main {
  @include ho-padding;

  .layout-ds & {
    padding: 0;
  }
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

*[aria-hidden=true]{
  // ho ho, wageffe!
  // aria-hidden zou je alleen moeten gebruiken voor elementen die je wél
  // wil tonen aan ziende gebruikers, maar niet aan gebruikers met bijv.
  // een screenreader
  // wil je iets verbergen voor ziende gebruikers, gebruik dan .visuallyhidden, of
  // de mixin @include visually-hidden;
}
*[data-menu-hidden=true]{
  display: none;
}

.visually-hidden,
.visuallyhidden {
  @include visually-hidden;
}

form {
  margin: 0;
}

cite {
  font-style: normal;
}
