.form-submit {
  &:hover {
    transition: all .15s linear;
  }
}

button {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-font-size;
}

$input-size: 20px;

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="search"],
select, textarea {
  box-sizing: border-box;
  background: $input-bg;
  padding: 1rem 1.5rem;
  font-family: $font-primary;
  font-size: $base-font-size;
  width: 100%;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border: .2rem solid $input-border;
  outline: none;
  color: #000;
  border-radius: 0;

  &:focus {
    @include gc-box-shadow($gc-green, 0.2);
    border-color: $input-focus;
    background: $input-focus-bg;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="url"],
input[type="date"],
input[type="search"] {
  // dit dus bijv. niet voor input[type="number"]
  -webkit-appearance: none;
}


form label {
  font-family: $font-primary-semi;
}

form input[type="radio"] {
  & + label {
    font-family: $font-primary;
  }

  &:checked + label {
    font-family: $font-primary-semi;
  }
}

select {
  background: $input-bg url('../images/select-arrow.svg') right 15px top 50% no-repeat;
  border-radius: 0;
  line-height: initial;
  background-size: 14px auto;
  cursor: pointer;

  &[multiple] {
    min-height: 180px;
    background: none;
  }
}

textarea {
  min-height: 16rem;
}


input[type='submit'],
button[type='submit'] {
  @include gc-box-shadow();
  background: $submit-bg;
  border: none;
  padding: 0 2rem;
  line-height: 40px;
  height: 50px;
  color: $submit-color;
  display: inline-block;
  font-family: $button-font;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: $btn-font-size-sm;
  margin-top: 3rem;
  width: auto;

  @include bp-up(md) {
    font-size: $btn-font-size-lg;
  }

  &:hover, &:focus {
    background-color: $submit-hover-bg;
  }
}

button[type='reset'] {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
  font-family: $button-font;
  font-size: $btn-font-size-sm;
  color: $base-font-color;

  @include bp-up(md) {
    font-size: $btn-font-size-lg;
  }

  &:hover, &:focus {
    text-decoration: underline;
  }
}

button[type='submit'] + button[type='reset'] {
  margin-left: 2rem;
}

.form-item--checkbox {
  position: relative;

  input {
    @include visually-hidden;
  }

  label {
    @include icon(after, check);
    display: flex;

    &:before {
      content: " ";
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border: .2rem solid $border_color;
      margin-right: 1.5rem;
      transition: border-color .2s;
      margin-top: .3rem;
    }

    &:after {
      position: absolute;
      left: 1.6rem;
      top: .8rem;
      font-size: 1.4rem;
      display: none;
      color: $gc-dark-blue;
    }

    &:hover, &:focus {
      text-decoration: underline;

      &:before {
        border-color: $gc-dark-blue;
      }
    }
  }

  input:checked + label {
    &:before {
      border-color: $gc_green;
      box-shadow: .3rem .3rem 0 rgba($gc_green, 0.3);
      background: $white url('../images/ico-check.svg') center center no-repeat;
      background-size: 1.2rem auto;
    }

    &:after {
      display: block;
    }
  }
}

// LAyout

fieldset {
  border: none;
  padding: 0;
  margin: 0;

  + fieldset {
    border-top: .2rem solid $border-color;
    margin-top: 3rem;
    padding-top: 3rem
  }
}

legend {
  margin-top: 0;
  float: left;
  width: 100%;
  font-family: $font-primary-bold;
  font-size: 2.4rem;
  line-height: 3.2rem;

  + div {
    clear: both;
    padding-top: 2rem;
  }
}

.form-item {
  margin-top: 2rem;

  label {
    line-height: 2.6rem;
  }

  @include bp-up(md) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: $gutter;

    label {
      width: 30%;
      padding-right: $gutter;
      text-align: right;
    }

    input,
    textarea,
    .form-description {
      width: 70%;
      margin-left: auto;
    }
  }
}

.form-description {
  font-size: $font-small;
  line-height: 2.2rem;
  color: $meta-data;
  margin-top: 1rem;
}

.form-optional {
  font-size: $font-small;
  font-style: italic;
  color: $meta-data;
  font-family: $font-primary;
}

.form-actions {
  @include bp-up(md) {
    padding-left: 30%;
  }
}


/* speciale formulieren */
.wpcf7-form,
.gform_wrapper {
  padding-bottom: 4rem;
  max-width: $max-width-inner;
  margin-left: auto;
  margin-right: auto;
  float: none;
  clear: both;
  border-top: .2rem solid $border-color;
  margin-top: 2rem;
  padding-top: 2rem;

}

/* CF7 - Contactform 7
------------------------------------------------------ */

.wpcf7-form {
  .form-item {
    .wpcf7-form-control-wrap {
      /* CF7 wrapt input elementen nog in een extra span */
      flex: 1 0 70%;

      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="file"],
      input[type="url"],
      input[type="number"],
      input[type="date"],
      input[type="search"],
      select, textarea {
        width: 100%;
      }
    }
  }
}

/* Gravity Forms
------------------------------------------------------ */

.gform_wrapper {

  ul, ul li, ol, ol li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .gfield {
    margin-top: 2rem;

    label {
      line-height: 2.6rem;
    }

    @include bp-up(md) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: $gutter;

      label {
        width: 30%;
        padding-right: $gutter;
        text-align: right;
      }

      .ginput_container,
      .form-description {
        width: 70%;
        margin-left: auto;

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="file"],
        input[type="url"],
        input[type="number"],
        input[type="date"],
        input[type="search"],
        select, textarea {
          width: 100%;
        }
      }
    }
  }
  .validation_message,
  .gform_footer {
    padding-left: 30%;
  }
}
