/*
Gutenberg corrections
 */
.section--heading {
  & + .section--paragraph,
  & + .section--text {
    margin-top: 1rem;
  }
}
.wp-block-image {

  & + .section--paragraph,
  & + .section--text {
    margin-top: 0;

    p {
      margin-top: 0;
    }
  }
}
.wp-block-column {
  .section {
    padding-left: 0;
    padding-right: 0;
  }
}

.has-larger-font-size,
.has-extra-large-font-size {
  line-height: 1.5;
}
.has-larger-font-size {
  font-size: 120%;
}
.has-extra-large-font-size {
  font-size: 135%;
  font-family: $base-heading-font;
}

