{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block content %}
  <div class="archive__content">

      {% block archive_intro %}

        <div class="page__intro">
          <header class="entry-header">
            <h1 class="entry-title">{{ title }}</h1>
          </header>

          {% if descr %}
            <p class="archive__descr">
              {{ descr }}
            </p>
          {% endif %}
        </div>

      {% endblock %}


      {% block archive_overview %}
        {% if posts and overview is empty %}

          <article class="section section--overview-list">
            <div class="l-section-content">
              <div class="overview overview--list">

                {% for post in items %}

                  {% include 'components/teaser.html.twig' with {
                    'title' : post.title,
                    'headerlevel' : 'h2',
                    'descr' : post.descr,
                    'img' : post.img,
                    'type' : post.type,
                    'meta': post.meta,
                    'category': post.category,
                    'post_date': ( post.post_date ?? '' ),
                    'url': post.url
                  } %}
                {% endfor %}
              </div>
            </div>
          </article>

        {% elseif overview %}

          {% include 'sections/section-overview.html.twig' with {
            'title': overview.title,
            'items': overview.items,
            'template' : overview.template ? overview.template : 'card',
            'modifier' : overview.modifier ? overview.modifier
          } %}
        {% endif %}

      {% endblock %}

      {% block pagination %}

        {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

      {% endblock %}

  </div>
{% endblock %}
