{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}


{% block content %}


  <div class="page__intro">
    <header class="archive__header">
      <h1 class="archive__title">{{ title }}</h1>
    </header>

    {% if descr %}
      <p class="archive__descr">
        {{ descr }}
      </p>
    {% endif %}
  </div>

  {% if posts and overview is empty %}

    <div class="overview--list">
      {% for post in posts %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
      {% endfor %}
    </div>

  {% elseif overview %}

    {% include 'sections/section-overview.html.twig' with {
      'title': overview.title,
      'items': overview.items,
      'template' : overview.template ? overview.template : 'card',
      'modifier' : overview.modifier ? overview.modifier
    } %}
  {% endif %}

  {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
