{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}


{% block content %}
  <header class="archive__header">
    <h1>archive.php {{ title }}</h1>
  </header>

  {% if posts and overview is empty %}

    {% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}

  {% elseif overview %}

    {% include 'sections/section-overview.html.twig' with {
      'title': overview.title,
      'items': overview.items,
      'template' : overview.template ? overview.template : 'card',
      'modifier' : overview.modifier ? overview.modifier
    } %}
  {% endif %}

  {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
