{% extends 'archive.twig' %}

{% block body_tag %}
<body class="{{ body_class }}page--overview-archive">
{% endblock %}


{% block archive_intro %}

<div class="page__intro">
  <header class="entry-header">
    <h1 class="entry-title">{{ post.title }}</h1>
  </header>

  {% if post.content %}
    {{ post.content }}
  {% endif %}
</div>

{% endblock %}