{% extends 'base.twig' %}

{% block content %}

    <article class="entry entry--type-overview entry--full">

        <div class="entry-content">

            <div class="page__intro">
                <header class="entry-header">
                    <h1 class="entry-title">{{ post.title }}</h1>

                    {% if intro %}
                        <p>{{ intro }}</p>
                    {% endif %}
                </header>

                {% if post.content %}

                    <div class="entry-body">
                        {{ post.content }}
                    </div>

                    {# end body #}
                {% endif %}

            </div>


            {% if overview %}

                {% include 'sections/section-overview.html.twig' with {
                    'title': '',
                    'items': overview.items,
                    'modifier': 'page-overview section--' ~ page_name
                } %}

            {% endif %}

        </div>
    </article>

{% endblock %}