{% extends "base.twig" %}

{% block content %}

  <article class="post post--full post--type-{{ post.post_type }}" id="post-{{ post.ID }}">

    <header class="post__header">
      <h1 class="page__title">{{ post.title }}</h1>
    </header>

    <section class="post__content">
      <div class="post__body">
        {{ post.content }}
      </div>

      {% if related %}
        {% include 'sections/section-related.html.twig' with {
          'title': related.title,
          'descr': related.desc,
          'items': related.items
        } %}
      {% endif %}

      {% if downloads %}
        {% include 'sections/section-downloads.html.twig' with {
          'title': downloads.title,
          'descr': downloads.desc,
          'items': downloads.items
        } %}
      {% endif %}

      {% if links %}
        {% include 'sections/section-links.html.twig' with {
          'section_title': links.title,
          'section_descr': links.desc,
          'items': links.items
        } %}
      {% endif %}

    </section>
  </article>


{% endblock %}
