<div id="respond" class="comment-respond">
  <h3 id="reply-title" class="comment-reply-title">Reageer <small></small></h3>
  <form action="https://www.gebruikercentraal.nl/wp-comments-post.php" method="post" id="commentform" class="comment-form">
    <p class="comment-form-comment"><label for="comment">Jouw reactie</label><textarea id="comment" name="comment" cols="45" rows="8" required="" aria-required="true"></textarea></p>
    <p class="comment-form author"><label for="author">Je naam</label> <input id="author" name="author" type="text" value="" size="30" required="" aria-required="true"></p>
    <p class="comment-form email"><label for="email">Je mailadres</label> <input id="email" name="email" type="text" value="" size="30" required="" aria-required="true"></p>
    <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Reageer"> <input type="hidden" name="comment_post_ID" value="6514" id="comment_post_ID">
      <input type="hidden" name="comment_parent" id="comment_parent" value="0">
    </p>
    <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="978a457e25"></p>
    <p style="display: none;"></p><input type="hidden" id="ak_js" name="ak_js" value="1589446681459"></form>
</div>
