{% if id is empty %}
  {% set id = '2' %}
{% endif %}

<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-homepage site-id-{{ id }}">

<div class="site-container">

  {% include 'includes/header.html.twig' %}

  <div class="page-content" id="maincontent" tabindex="-1">

    <main class="content">

      <article class="entry entry--type-home entry--full{{ stappenplan ? ' l-with-stepchart' }}">

        <div class="entry-content">

          <div class="page__intro">
            <header class="entry-header">
              <h1 class="entry-title">{{ title ? title : 'Onze instrumenten' }}</h1>

              <p>Optimaal Digitaal biedt meer dan 100 tips om de dienstverlening te verbeteren.</p>
              <a class="btn btn--primary" href="#">Bestel het spel</a>
            </header>


            {% include 'components/video.html.twig' with {
              'title': 'Bekijk de Optimaal Digitaal Video'
            } %}

          </div>
          {# /page intro #}

          {% set toptips = {
            '1': {
              'nr': '72',
              'category': 'Gebruiksgemak',
              'title': 'Test met échte gebruikers',
              'toptip': 'ja',
              'type': 'tipkaart'
            },
            '2': {
              'nr': '99',
              'title': 'Ken de wet!',
              'category': 'Informatieveiligheid',
              'toptip': 'ja',
            },
            '3': {
              'nr': '97',
              'title': 'Bied aan daar waar de burger zoekt',
              'category': 'Kanaalsturing',
              'toptip': 'ja',
            },
            '4': {
              'nr': '97',
              'title': 'Formuleer wat je wil bereiken met je dienstverlening',
              'category': 'Procesaanpak',
              'toptip': 'ja',
            }
          } %}

          {% include 'sections/section-overview.html.twig' with {
            'items': toptips,
            'description': 'Optimaal Digitaal bestaat uit meer dan 100 tips uit de (online) dienstverlening.',
            'title': 'Onze toptips',
            'template': 'card--tipkaart',
            'modifier': 'l-layout-4col'
          } %}

          {% set spotlight = {
            '1': {
              'title': 'Ook het spel spelen',
              'descr': 'Met het spel wordt verassend snel doorgedrongen tot de kern. Het spel eindigt met concrete acties die de volgende dag kunnen worden opgepakt. Het verbeteren van je (digitale) dienstverlening start dus meteen.',
              'cta': {
                '1': {
                  'title': 'Bestel het spel',
                },
                '2': {
                  'title': 'Print & play'
                }
              }
            },
            '2': {
              'title': 'Spelleider cursus',
              'descr': 'In een Spelleider sessie maak je als deelnemer kennis met het spel en leer je ondertussen de do’s en don’ts in de rol van spelleider. We gaan vol overgave twee uur aan de slag met het spel.',
              'cta': {
                '1': {
                  'title': 'Word ook spelleider'
                }
              }
            }
          } %}

          {% include 'sections/section-spotlight.html.twig' with {
            'items': spotlight,
            'modifier': 'bg-option',
          } %}

          {#actueel#}

          {% set actueel = {
            'events': {
              'items': {
                '1': {
                  'title' : 'Workshop spelleider Optimaal Digitaal',
                  'date': '2020-07-08'
                },
                '2': {
                  'title': 'Optimaal Digitaal op landelijk congres online',
                  'date' : '2020-08-24'
                }
              },
              'cta': {
                'title': 'Alle evenementen'
              }
            },
            'blogs': {
              'items': {
                '1': {
                  'title' : 'We hebben onze doelen nu veel scherper',
                  'img': 'img-16-9.jpg'
                },
                '2': {
                  'title': 'Hoe krijg je je organisatie mee?',
                  'img': 'img-16-9-letter.jpg'
                }
              },
              'cta': {
                'title': 'Alle blogs'
              }
            }
          } %}

          {% include 'sections/section-actual.html.twig' with {
            'items': actueel
          } %}

          {#regular #}
          {% set tb_items = {
            '1': {
              'title': 'Een workshop of evenement?',
              'descr': 'De instrumenten helpen je om de online dienstverlening van je organisatie te verbeteren. Gebruik, deel en vul aan!',
              'link_primary': 'Meer over workshops',
            } ,
            '2': {
              'title': 'Verschillende sets',
              'descr': 'Er zijn sets beschikbaar om het spel verder aan te vullen. Bijvoorbeeld de set inclusie. Met deze set vul je het spel aan met tips over inclusieve dienstverlening.',
              'link_primary': 'Bekijk de inclusieset',
            }
          } %}

          {% include 'sections/section-text-block.html.twig' with {
            'items': tb_items,
            'modifier': 'l-bg-white' } %}


        </div>
        {# /entry content #}
      </article>
    </main>
  </div>

  {% include 'includes/footer.html.twig' %}
</div>
</body>