<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-page site-id-1">

<div class="site-container">

  {% include 'includes/header.html.twig' %}

  {% include 'includes/breadcrumb.html.twig' with {
    'page_title': 'Wat is het optimaal digitaal spel?',
    'links': ['Home', 'Het spel']} %}


  <div class="page-content" id="maincontent" tabindex="-1">
    <main class="content">

      <article class="entry entry--type-page entry--full">

        <header class="entry-header">
          <h1 class="entry-title">{{ title }}</h1>
          <p class="entry-intro">
            {% if intro %}
              {{ intro }}
            {% else %}
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt
              nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt
              nibh pulvinar a. Donec sollicitudin molestie malesuada.
            {% endif %}
          </p>

        </header>

        <div class="entry-content">

          {% if content is empty %}

            {# blocks #}

            {% set text %}
              <p>Het spel eindigt met concrete acties die de volgende dag kunnen worden opgepakt. Het verbeteren van je
                (digitale) dienstverlening start meteen. De bijvangst is een beter inzicht in wat je collega belangrijk
                vindt en de bereidheid elkaar te helpen.</p>

              <h3>Andere doeleinden</h3>

              <p>Het spel is bedacht om je (online) dienstverlening te verbeteren.
                Spelenderwijs zijn we erachter gekomen dat het ook goed inzetbaar is voor andere doeleinden, zoals:</p>

              <ul>
                <li>Bevorderen van bewustwording</li>
                <li>Kennisoverdracht</li>
                <li>Optimaliseren vna samenwerking</li>
                <li>Kick-off van een nieuw project</li>
              </ul>

            {% endset %}

            {% include 'blocks/text.html.twig' with {
              'title' : 'Wat levert het op?',
              'section_text': text
            } %}

            {% include 'blocks/figures.html.twig' with {
              'title' : '4 tot 6 personen, maximaal 2 uur',
              'items': {
                '1': {
                  'url': 'od-aanwijzing.jpg'
                }
              }
            } %}

            {% set text %}
              <p>Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at
                tellus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna
                dictum porta. Donec rutrum congue leo eget malesuada.</p>
            {% endset %}

            {% include 'blocks/text.html.twig' with {
              'section_text': text,
              'title': '',
            } %}

            {% set textimage_text %}

              <h2>Ben je met meer dan 6 personen?</h2>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada
                feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus.</p>
            {% endset %}


            {% include 'blocks/text-image.html.twig' with {
              'img': {
                'url': 'od-1.jpg',
                'alt': 'Ben je met meer dan 6 personen?'
              },
              'text': textimage_text,
              'bg': 'light'
            } %}


            {% set cards = {
              '1': {
                'title': 'Over het spel',
                'descr': 'Wat is het spel eigenlijk, en hoe is het ontstaan? Wat levert het op als je het speelt? Lees er alles over.'
              },
              '2': {
                'title': 'Tips voor spelleiders',
                'descr': 'Een spel begeleiden kan best lastig zijn. Op deze pagina lees je handige tips over het in goede banen leiden van het spel.'
              }
            } %}


            {% include 'sections/section-related.html.twig' with {
              'items': cards,
              'modifier': 'bg-option',
            } %}


            {% set links = {
              '1': {
                'title': 'Hoe spelen sfeer op de werkvloer kan verbeteren',
                'descr': 'Universiteit X Deed hier onderzoek naar.',
                'url': '#',
              },
              '2': {
                'title': 'Vivamus suscipit tortor eget felis porttitor volutpat',
                'descr': 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.',
                'url': '#',
              }
            } %}

            {% include 'sections/section-links.html.twig' with {
              'title' : 'Externe links',
              'items' : links
            } %}

          {% elseif content == 'set' %}
            {# display inclusie set #}

            {% set text %}
              <p>De inclusieset bestaat uit 24 aanvullende kaartjes. Hieronder zie je welke het zijn.</p>
            {% endset %}

            {% include 'blocks/text.html.twig' with {
              'section_text': text,
              'title': '',
            } %}

            {# cards from json in php page-set.php #}
            {% include 'sections/section-overview.html.twig' with {
              'items': cards,
              'title': '',
              'template': 'card--tipkaart',
            } %}

            {% set partners = {
              '1': {
                'title': 'TNO',
                'img': 'tno.jpg',
              },
              '2': {
                'title': 'Lost Lemon',
                'img': 'lost-lemon.jpg',
              },
              '3': {
                'title': 'Keen Public',
                'img': 'keen.jpg',
              },
              '4': {
                'title': 'Stichting Lezen en Schrijven',
                'img': 'sls.jpg',
              }
            } %}

            {% include 'sections/section-brands.html.twig' with {
              'items': partners,
              'title': 'Samen met anderen',
              'descr': 'Deze set is ontwikkeld met een aantal partners.',
            } %}

          {% endif %}
        </div>
      </article>
    </main>
  </div>

  {% include 'includes/footer.html.twig' %}
</div>