<div class="card card--with-image card--type-blog">
  {% if img %}
    <div class="card__image">
      {{ img }}
    </div>

  {% endif %}
  <div class="card__content">
    <h2 class="card__title">
      <a class="arrow-link" href="">
        <span class="arrow-link__text">
          {{ title }}
        </span>
        <span class="arrow-link__icon"></span>
      </a>
    </h2>
    <p class="card__description">
      {{ descr }}
    </p>
    {% if meta %}
      {% include 'components/meta-data.html.twig' with {'items': meta} %}
    {% endif %}
  </div>
</div>
