<button type="button" aria-haspopup="true" aria-controls="menu-primary" aria-expanded="false" aria-label="Open menu" class="btn btn--toggle-menu">
  <span class="btn__icon">&nbsp;</span>
  <span class="btn__text">{{ __('Menu', 'gctheme') }}</span>
</button>
